.launch-item {
  display: flex;
  justify-content: space-between;
  margin: 8px;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  color: #4b4a4a;
  .launch-name {
    display: flex;
    align-items: center;
    p {
      font-size: 32px;
      margin-right: 32px;
    }
    h2 {
      font-size: 28px;
    }
  }
  .launch-info {
    text-align: end;
  }
}

.filter-btns {
  display: flex;
  justify-content: flex-end;
  div {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin: 8px;
    padding: 8px 16px;
    background-color: $primary;
    cursor: pointer;
    transition: 0.3s all;
    &:hover {
      background-color: $hover;
    }
    img {
      margin: 2px 0px 0px 10px;
      width: 12px;
    }
  }
}
