.launches-info {
  display: grid;
  min-height: 90vh;
  grid-template-columns: 5% 1fr 1fr 5%;
  margin-top: 24px;
  > img {
    justify-self: center;
    width: 85%;
    grid-column: 2/3;
    position: sticky;
    top: 1%;
    margin-top: 10%;
  }
}
