.launch-item {
  display: flex;
  justify-content: space-between;
  margin: 8px;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  color: #4b4a4a;
  .launch-name {
    display: flex;
    align-items: center;
    p {
      font-size: 32px;
      margin-right: 32px;
    }
    h2 {
      font-size: 28px;
    }
  }
  .launch-info {
    text-align: end;
  }
}

.filter-btns {
  display: flex;
  justify-content: flex-end;
  position: relative;
  button {
    font-size: 14px;
    font-family: BrandonGrotesque;
    font-weight: bold;
    color: #fff;
    margin: 8px;
    padding: 8px 8px;
    background-color: #1f5184;
    cursor: pointer;
    transition: 0.3s all;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin: 2px 0px 0px 10px;
      width: 12px;
    }
    &:hover {
      background-color: $hover;
    }
  }
}

.filter-options-open {
  position: absolute;
  top: 100%;
  left: 66%;
  width: 15%;
  justify-content: center;
  background-color: $primary;
  animation: drop 0.5s ease-in-out;
  cursor: pointer;
  li {
    color: #fff;
    transition: 0.3s all;
    text-align: center;
    list-style: none;
    margin: 6px;
    &:hover {
      background-color: #fff;
      color: $primary;
    }
  }
}

@keyframes drop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
