.launches-info {
  display: grid;
  min-height: 90vh;
  grid-template-columns: 5% 1fr 1fr 5%;
  margin-top: 5%;
  > img {
    justify-self: center;
    width: calc(30px + 60vh);
    grid-column: 2/3;
    position: sticky;
    top: 10%;
    margin-top: 10%;
  }
}
