$primary: #1f5184;

@font-face {
  font-family: 'BrandonGrotesque';
  src: url('../fonts/BrandonGrotesque-Regular.woff');
}

@import './launch';
@import './launches';
@import './nav';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: BrandonGrotesque;
}
