$primary: #1f5184;
$hover: #2a73be;

@font-face {
  font-family: 'BrandonGrotesque';
  src: url('../fonts/BrandonGrotesque-Regular.woff');
}

@import './launch';
@import './launches';
@import './nav';
@import './loader';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: BrandonGrotesque;
}

@media only screen and (max-width: 767px) {
  nav {
    img {
      width: 90%;
    }
    span {
      font-size: 24px;
    }
    .reload-btn {
      font-size: 0;
      padding: 4px 24px;
    }
  }

  .launches-info {
    display: block;
    text-align: center;
    img {
      position: unset;
      margin-top: 0;
      margin-bottom: 10%;
    }
    .filter-sort-btns {
      button {
        width: 100%;
      }
      .filter-options-open {
        left: 2%;
        width: 46%;
      }
    }
    .launch-name {
      p {
        font-size: 24px;
      }
      h2 {
        font-size: 20px;
      }
    }
  }
}
