.launches-info {
  display: grid;
  min-height: 90vh;
  grid-template-columns: 5% 1fr 1fr;
  margin-top: 5%;
  img {
    justify-self: center;
    width: 60%;
    grid-column: 2/3;
    position: sticky;
    top: 10%;
  }
}
